/* reset */
@import url(./reset.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;

}

html {
    font-size: 10px;
    height: 100vh;

}

body {
    font-family: 'Roboto', sans-serif;
    /* height: 100vh; */
}

/*Container*/
.container {
    width: 300px;
    margin: 0 auto;
}

.container:hover .close-open-icon {
    opacity: 1;
}

.container:hover .bayan-title {
    font-weight: 700;
    color: #c152c1;
}


/* Header*/

.title {
    width: 100%;
    padding: 15px 0 15px;
    font-size: 3rem;
    font-weight: 700;
}

/* Bayan */
.bayan {
    width: 100%;
}

.bayan-check {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.bayan-check:checked~.bayan-content {
    display: block;


}

.bayan-check:checked~.wrapper>.close-open-icon {
    background-image: url(./icons/cross.svg);
}

.bayans__item {
    width: 100%;
    border: 2px solid #949090;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.bayans__item:hover .bayan-content {
    display: block;
    max-width: 999px;
    transition: all 2s linear;
}

.container .bayans__item:last-child {
    border: 2px solid #949090;
    border-left: none;
    border-right: none;

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s linear;
}

.wrapper:hover>.close-open-icon {
    background: url(./icons/cross.svg);
}

.bayan-title {
    display: block;
    width: 100%;
    padding: 10px 15px;
    /* margin-bottom: 10px; */
    font-size: 1.8rem;
    color: #0c576c;
    cursor: pointer;
    transition: all 1s ease-out;
}



.close-open-icon {
    opacity: 0;
    width: 40px;
    height: 40px;
    background: url(icons/plus.svg) no-repeat center;
    cursor: pointer;
    transition: all .5s ease-out;
}

.bayan-content {
    display: none;
    width: 100%;
    max-height: 999px;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    transition: all 1s linear;
}



.bayan-img {
    width: 190px;
    display: block;
    opacity: 0;
    margin: 0 auto;
    transition: 1s;
    animation: show-image 1s;
    animation-fill-mode: forwards;
}

@keyframes show-image {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/*  Media query */

@media (max-width: 820px) {
    .container {
        width: 700px;
        margin: 0 auto;
    }
}

@media (max-width: 1920px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .title {
        font-size: 4rem;
        padding-bottom: 40px;
    }

    .bayan-title {
        font-size: 3rem;
       
    }

    .bayan-img {
        display: block;
    
        margin: 0 auto;
    }

}