/* reset */
@import url(./reset.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
   
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Container*/
.container {

    width: 300px;
    margin: 0 auto;
}
/* Header*/

.title {
    width: 100%;
    padding: 15px 0 15px;
    font-size: 3rem;
    font-weight: 700;
}

/* Bayan */

    .container:hover .close-open-icon {
        opacity: 1;
    }

.bayan-check {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none; 
    position: absolute;
}

.bayan-check:checked ~ .bayan-content{
display: block;
}

/* .bayan-check:checked ~ .wrapper > .bayan-title{
    width: 100%;
    color: #FFFFFF;
    background: #949090;
    } */
    
    .bayan-check:checked ~ .wrapper > .close-open-icon {
        background-image: url(./icons/cross.svg);
    }

.bayans__item {
    width: 300px;
    margin: 0 0 10px;
    border: 2px solid #949090;
    border-left: none;
    border-right: none;
    
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.bayan-title {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.8rem;
    color:#0c576c;
    cursor: pointer;

}

.close-open-icon {
    opacity: 0;
    width: 40px;
    height: 40px;
    background-image: url(icons/plus.svg);
    cursor: pointer;
}

.bayan-content {
    display: none;
    width: 100%;
    padding: 10px 0;   
}

.bayan-img {
    width: 190px;
    display: block;
    margin: 0 auto;
}
