/* reset */
@import url(./reset.css);

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;

}

html {
    font-size: 10px;
    height: 100vh;

}

body {
    font-family: 'Roboto', sans-serif;
    /* height: 100vh; */
}

/*Container*/
.container {
    width: 27rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.container:hover .close-open-icon {
    opacity: 1;
}

.container:hover .bayan-title {
    font-weight: 700;
    color: #c152c1;
}


/* Header*/

.title {
    width: 100%;
    padding: 1.5rem 0 1.5rem;
    font-size: 3rem;
    font-weight: 700;
}

/* Bayan */
.bayan {
    width: 100%;
}

.bayan-check {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.bayan-check:checked~.bayan-content {
    display: block;


}

.bayan-check:checked~.wrapper>.close-open-icon {
    background-image: url(./icons/cross.svg);
}

.bayans__item {
    width: 100%;
    border: 0.2rem solid #949090;
    border-left: none;
    border-right: none;
    border-bottom: none;

}

.bayans__item:hover .bayan-content {
    display: block;
    max-width: 99rem;
    transition: all 2s linear;
}

.container .bayans__item:last-child {
    border: 0.2rem solid #949090;
    border-left: none;
    border-right: none;

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s linear;
}

.wrapper:hover>.close-open-icon {
    background: url(./icons/cross.svg);
}

.bayan-title {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    /* margin-bottom: 10px; */
    font-size: 1.8rem;
    color: #0c576c;
    cursor: pointer;
    transition: all 1s ease-out;
}



.close-open-icon {
    display: block;
    opacity: 0;
    width: 4rem;
    height: 4rem;
    background: url(icons/plus.svg) no-repeat center;
    cursor: pointer;
    transition: all .5s ease-out;
}

.bayan-content {
    display: none;
    width: 100%;
    max-height: 99rem;
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
    transition: all 1s linear;
}

.image-link:active>.bayan-img {

    transform: scale(1.2);

}

.bayan-img {
    width: 19rem;
    display: block;
    opacity: 0;
    margin: 0 auto;
    transition: 1s;
    animation: show-image 2s;
    animation-fill-mode: forwards;
}

@keyframes show-image {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/*  Media query */
@media (mi-width: 320px) {
    .container {
        width: 27rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .title {
        font-size: 3rem;
    }

    .bayan-title {
        font-size: 1.8rem;

    }
}

@media (min-width: 820px) {
    .container {
        width: 70rem;
        margin: 0 auto;
        padding: 0 3rem;
    }

    .title {
        font-size: 5rem;
    }

    .bayan-title {
        font-size: 3rem;

    }
}

@media (min-width: 1920px) {
    .container {
        width: 120rem;
        margin: 0 auto;
    }

    .title {
        font-size: 7rem;
        padding-bottom: 4rem;
    }

    .bayan-title {
        font-size: 4rem;

    }

    .bayan-img {
        display: block;

        margin: 0 auto;
    }

}